<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.first_name %> <%= @user.last_name %>!</h1>
    <p>Thanks for joining and have a great day! Please click the following link to set your password.</p>
    <%= link_to 'Set Password', users_set_password_main_url(host:"localhost:3000",key:@user.key) %>
  </body>
</html>
